body{
  padding-top:55px;
  padding-bottom:3em;
}

#uploadbox {
  border: 4px dashed #CFCFCF;
  height:250px;
  display:table;
  width:100%;
  transition: all .3s ease-in-out;
}
#uploadbox.droppable {
  border: 4px dashed rgba(0, 150, 255, 0.3);
  color:#CCCCCC;
}
#uploadbox > .instructions {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  font-size:175%;
}

#uplaoding-info{

}
#uploading-info h4 {
  
}
#uploading-status {
  display: inline-block;
  padding: 0.25em;
  width: 70%;
}
#uploading-sidebar {
  display: inline-block;
  float: right;
  padding: 0.25em;
  width: 25%;
}
.uploadinfo{
  margin-top:2em;
}
.progress.upload-progress{
  height:40px;
  margin-bottom:.25em;
}
.upload-progress .upload-progress-bar {
  font-size: 30px;
  font-weight: bold;
  padding-top: 7px;
  color: #333333;
}
.fileinfo {
  clear:both;
  overflow:auto;
}
.fileinfo .filename{

}
.fileinfo .filesize {

}
.filemessage {

}
/** clickable stuff **/
.clickable {
  cursor: pointer;

}
